body
{
    background-color: skyblue   ;   
}

body .inner_box
{
    margin: 10px;
    background-color: rgb(219, 219, 219);
    height: 732px;
    border-radius: 30px; 
}

.left_box
{
    height: 732px;
    width: 300px;
    /* border: 2px solid black;     */
    float: left;
    background-color: white;
    border-radius: 30px; 
}

.search_bar
{
    margin-left: 30px;
    margin-top: 25px;
    /* border: 2px solid black;     */
    border-radius: 20px;
    display: block;
}

.weather
{
    margin-top: 20px;
    margin-left: 10px;
    /* border: 2px solid black;     */
}

.temperature
{
    margin-left: 30px;
    /* border: 2px solid black;     */

}

.text
{
    font-size: 25px;

}

.temperature h1  
{
    font-size: 60px;
}

.temperature h2
{
    position: absolute;
    top: 355px;
}

.text_2
{
    font-size: 25px ;
    position: absolute;
    top: 460px;
    left: 87px;
}

.mountains
{
    /* border: 2px solid black;             */
    position: absolute;
    top: 55px;
    right: -72px;
}

.symbol
{   
    font-size: 20px;
    position: absolute;
    top: -10px;
}

.right_box
{
    height: 732px;
    width: 1170px;
    /* border: 2px solid black;     */
    float: right;
    background-color: rgb(219, 219, 219);
}

.nav_bar
{
    width: 1170px;
    height: 40px;
    display: block;
    /* border: 2px solid black;     */
}


ul li
{
    list-style: none;   
    float: left ; 
    font-size: 27px;
}

.week
{
    color: blue;
    position: absolute;
    top: 20px;
    margin-left: 110px ;
    opacity: 70%;
    font-size: 27px;
    text-decoration: none;
}

.today
{
    position: absolute;
    top: 20px;
    margin-left: 10px;
    opacity: 70%;
    font-size: 27px;
    text-decoration: none;
    color: black;
}

.button_1
{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -12px;
    margin-right: 40px;
    border-radius: 50%;
    background-color: rgb(92, 92, 241) ;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.button_1:active
{
    transform: scale(0.98);
}

.button_2
{
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    border: none;
    margin-right: 15px;
    margin-top: -12px;
    font-size: 17px;
    cursor: pointer; 
    background-color: rgb(153, 153, 153);
}

.button_2:active
{
    transform: scale(0.98);
}

.button_3
{
    width: 170px;
    height: 40px;
    float: right;
    border: none;
    margin-right: 10px;
    margin-top: -12px;
    border-radius: 30px;
    font-size: 17px;
    cursor: text; 
    background-color: white;
}

.button_3:active
{
    transform: scale(0.98);
}

.row::after
{
    content: "";
    clear: both;
    display: table;
}

.img_1, .img_2, .img_3, .img_4, .img_5, .img_6, .img_7
{
    /* border: black solid 2px;     */
    height: 170px;
    width: 150px;
    float: left;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 15px;
    text-align: center;
    font-size: 20px;
    background-color: white;
}

.row img
{
    height: 90px;
    /* border: black solid 2px;     */
    width: 80px;
    margin-top: -15px;
}

.uv_image img
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 300px;
    border-radius: 30px;
    /* border: black solid 2px; */
}   

.humidity
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 520px;
    border-radius: 30px;
    /* border: black solid 2px; */
    background-color: white;
}

.humidity p
{
    margin-top: 40px;
    margin-left: 25px;
    font-size: 80px;
    opacity: 85%;
}

.humidity h1
{
    opacity: 85%;
    margin-left: 10px;
    margin-top: 25px;
}

.humidity img
{
    height: 200px;
    width: 150px;
    /* border: black solid 2px;    */
    position: absolute;
    top: 1px;
    left: 180px; 
    opacity: 85%;
} 

.wind
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 300px;
    right: 450px;
    border-radius: 30px;
    /* border: black solid 2px; */
    background-color: white;
    opacity: 85%;
}

.wind h1
{
    opacity: 85%;
}

.wind p
{
    margin-top: -33px;
    margin-left: 25px;
    font-size: 70px;
    opacity: 85%;
}

.wind b
{
    position: absolute;
    top: 160px;
    left: 60px; 
    font-size: 25px;
    opacity: 85%;
}

.button_4
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    position: absolute;
    top: 155px;
    left: 30px; 
    font-size: 20px;
    background-color: rgb(219, 219, 219);
    color: black;
}   

.air_quality
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 520px;
    right: 450px;
    border-radius: 30px;
    /* border: black solid 2px; */
    background-color: white;
    opacity: 85%;
}

.air_quality p
{
    font-size: 70px;
    margin-top: -10px;
    margin-left: 30px;
}

.air_quality h2
{
    position: absolute;
    top: 140px;
}

.air_quality img
{
    height: 130px;
    width: 155px;
    position: absolute;
    top: 30px;
    left: 190px;
}

.air_quality h2 b
{
    color: brown;
}

.visibility
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 520px;
    right: 62px;
    border-radius: 30px;
    /* border: black solid 2px; */
    background-color: white;
    opacity: 85%;
}

.visibility b
{
    color: greenyellow;
    opacity: 85%;
}

.visibility h1
{
    margin-left: 20px;
    opacity: 85%;
}

.visibility p
{
    font-size: 65px;
    margin-top: -15px;
    margin-left: 30px;
    opacity: 85%;
}

.visibility h2
{
    margin-left: 1px;
    margin-top: -50px;
    opacity: 85%;
}

.visibility img
{
    height: 77px;
    width: 100px;
    float: right;
    position: absolute;
    top: 70px;
    left: 248px;
    opacity: 85%;
}

.sr_ss
{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 300px;
    right: 62px;
    border-radius: 30px;
    /* border: black solid 2px; */
    background-color: white;
    opacity: 85%;
}

.sr_ss h1
{
    margin-left: 20px;
    margin-top: 10px;
    opacity: 85%;
}

.sr_ss .sunrise
{
    height: 60px;
    width: 90px;
    margin-left: 25px;
    margin-top: -10px;
}

.sr_ss .sunset
{
    height: 60px;
    width: 90px;
    position: absolute;
    top: 120px;
    left: 25px;
}

.sr_ss p
{
    font-size: 30px;
    margin-left: 150px;
    margin-top: -50px;
    opacity: 85%;
}


































































